body {
  background-color: #f8f8f8;
  font-family: "Poppins", sans-serif;
  color: #1b1b1b;
  margin: 0 auto;
  width: 100vw;
  text-align: center;
  font-size: 18px;
}

.container {
  width: auto;
  height: auto;
  display: flex;
  margin-top: 60px;
  /* flex-direction: column; */
  justify-content: center; /*means my board, which is in my container, will be centre */
}
h1 {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 0px;
}

#previous-numbers {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 1px;
}
#bingo-board {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #1b1b1b;
  color: white;
  width: 90%;
  margin-left: 20px;
  border: 6px solid red;
  border-radius: 8px;
}
#bingo-board div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.33%; /*width of the cells to take up for the 100% of the width of the contianer, there are 15 cells in each bingo row */
  text-align: center;
  min-height: 50px;
  border-radius: 8px;
  /* border: 1px solid #bbbbbb; */
}

#player-board-container {
  margin: 20px 20px;
  width: 400px;
  border-radius: 8px;
}

#player-board-container > div {
  color: white;
  width: auto;
  height: auto;
  background-color: #4e4d4d;
  border: 6px solid red;
  align-items: center;
  margin: 5px 5px;
  text-align: center;
  border-radius: 8px;
  /* border: 3px solid #bbbbbb; */
}

.player-board-style {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.active {
  background-color: #4e4d4d;
  border: 1px solid limegreen;
}

#player-board-container .active {
  background-color: #4e4d4d;
  border: 1px solid limegreen;
}

button {
  margin-bottom: 20px;
}
