body {
    background-color: #f8f8f8;
    font-family: "Poppins", sans-serif;
    color: #1b1b1b;
    max-width: 768px;
    margin: 0 auto;
    font-size: 18px;
}

h1 {
    font-size: 64px;
    margin-bottom: 0;
}

h2 {
    font-size: 36px;
    margin-bottom: 1rem;
}

#board {
    display: flex;
    flex-wrap: wrap;
    background-color: #1b1b1b;
    color: white;
    width: 100%;
    margin-bottom: 20px;
    border: 6px solid #1b1b1b;
    border-radius: 8px;
}
#board div {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 14%;
    text-align: center;
    min-height: 100px;
    border: 1px solid transparent;
}

.day h3 {
    font-weight: 300;
    font-size: 26px;
    margin-top: calc(100px / 2 - 22px);
}

#addMeeting {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

input {
    width: 100%;
    min-height: 24px;
    background-color: #1b1b1b;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px;
    font-weight: bold;
}

input:focus {
    background-color: white;
    color: black;
}

input::placeholder {
    color: white;
}

input:focus::placeholder {
    color: black;
}

input[type="time"] {
    cursor: pointer;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background-color: #00ff84;
    border-radius: 50%;
    cursor: pointer;
}

input[value="Save Meeting"] {
    background-color: #00ff84;
    color: #1b1b1b;
    cursor: pointer;
    min-height: 44px;
}

.selected {
    border: 1px solid #00ff84;
    border-radius: 6px;
}
ul {
    padding: 0;
    /* list-style-type: none; */
}

li {
    overflow: hidden;
    text-overflow: ellipsis;
}